<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rescate Animal - Próximos Eventos</title>
  <link rel="stylesheet" href="eventos.component.css">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="logo">
        <img src="logo.png" alt="Logo">
    </div>
    <nav>
      <a routerLink="/">Menú Principal</a>
      <a routerLink="/quienes-somos">Quiénes Somos</a>
      <a routerLink="/aliados">Aliados</a>
      <a routerLink="/eventos">Próximos Eventos</a>
      <a routerLink="/contactanos">Contáctanos</a>
      <a href="/voluntarios">Voluntarios</a>
    </nav>
  </header>
  <main>
    <section class="events">
      <h1>Próximos Eventos</h1>
      <p>¡Gracias por tu compromiso con nuestra causa! Aquí tienes el cronograma de las actividades planeadas para los próximos meses. ¡Esperamos contar contigo!</p>
      
      <article class="event">
        <h2>Enero 2025</h2>
        <ul>
          <li>
            <strong>Domingo 26 de enero:</strong> Visita a albergue de Marlene<br>
            <strong>Distrito:</strong> Ate<br>
            <strong>Inscripción: </strong> 
            <a href="https://forms.gle/MgVPn76Z6Lv95Tet8" target="_blank">Formulario de inscripción</a>
          </li>
        </ul>
      </article>

      <article class="event">
        <h2>Febrero 2025</h2>
        <ul>
          <li>
            <strong>Domingo 2 de febrero:</strong> Visita a albergue “San Francisco”<br>
            <strong>Distrito:</strong> Puente Piedra<br>
            <strong>Inscripción: </strong> 
            <a href="https://forms.gle/KhFn4Z1vVkoostfP8" target="_blank">Formulario de inscripción</a>
          </li>
          <li>
            <strong>Domingo 16 de febrero:</strong> Visita a albergue “Can Martin”<br>
            <strong>Inscripción: </strong> 
            <a href="https://forms.gle/c3HwyVUMuqK6UBzQA" target="_blank">Formulario de inscripción</a>
          </li>
          <li>
            <strong>Domingo 23 de febrero:</strong> Visita al albergue “El Hogar de Scott, Salvando Vidas”<br>
            <strong>Inscripción: </strong> 
            <a href="https://forms.gle/jLvyrANWaa53mL34A" target="_blank">Formulario de inscripción</a>
          </li>
        </ul>
      </article>
    </section>
  </main>
</body>
</html>
